body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background: #ffda8f;
}

.font_righteous {
    font-family: 'Righteous', cursive;
}

.bck_black {
    background: #3c3c3c;
}
.bck_white {
    background: #ffffff;
}
.bck_red {
    background: #ff4800;
}
.bck_yellow {
    background: #ffe0a3;
}
.center {
    width: 100%;
    height: auto;
}

.circle {
    border-radius: 50%;
}

h2 {
    margin: 20px;
    font-family: 'Righteous', cursive;
    color: #ff7c48;
}

/*====================
        HEADER
======================*/


header {
    padding:50px 0px;
    transition: all 300ms ease-in;
}

header .header_logo_large {
    font-size: 50px;
    font-family: 'Righteous', cursive;
}

header .header_logo_title {
    text-transform: uppercase;
}

header .header_logo_nav {
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

/*====================
        FOOTER
======================*/

footer {
    padding:40px 0px;
    text-align: center;
    font-size: 40px;
    color:#ffffff;
    background: #ffda8f;
}

footer .footer_copyright {
    font-size: 18px;
}

/*============================
            FORM
==============================*/

input {
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    box-sizing: border-box; /*for border control*/
}

button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px;
    background: #e1ddc3;
    margin-top: 20px;
    font-family: 'Righteous', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.error_label {
    color: #F44336;
    display:block;
    font-size: 15px;
}

.formBlock {
    margin-bottom: 10px;
}

/*=============================
         REGISTER LOGIN
===============================*/

.register_login_container {
    border: 1px solid #ffb171;
    border-bottom: 4px solid #fdff9a;
    margin: auto;
    padding: 50px;
    min-height: 500px;
    width: 50%;
}

.flex{
    display: flex;
}

.register_login_container .left {
    margin:10px;
    flex:1;
}
.register_login_container .right {
    margin:10px;
    flex:1;
}
