body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background: #ffda8f;
}

.font_righteous {
    font-family: 'Righteous', cursive;
}

.bck_black {
    background: #3c3c3c;
}
.bck_white {
    background: #ffffff;
}
.bck_red {
    background: #ff4800;
}
.bck_yellow {
    background: #ffe0a3;
}
.center {
    width: 50%;
    height: auto;
    margin: auto;
}

.circle {
    border-radius: 50%;
}

h2 {
    font-family: 'Righteous', cursive;
    color: #ff7c48;
    font-size: 40px;
}

p {
    font-family: 'Righteous', cursive;
    color: #ff7c48;
    font-size: 24px;
}

/*====================
        HEADER
======================*/


header {
    padding:50px 0px;
    transition: all 300ms ease-in;
}

header .header_logo_large {
    font-size: 50px;
    font-family: 'Righteous', cursive;
}

header .header_logo_title {
    text-transform: uppercase;
}

header .header_logo_nav {
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

/*====================
        FOOTER
======================*/

footer {
    padding:40px 0px;
    text-align: center;
    font-size: 40px;
    color:#ffffff;
    background: #ffcb64;
}

footer .footer_copyright {
    font-size: 18px;
}

/*============================
            FORM
==============================*/

input {
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
    margin: 0px;
    box-sizing: border-box; /*for border control*/
}

.large_button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    background-color: #ff6a2e;
    border-bottom: 4px solid #ff2020;
    border-right: 4px solid #ff2600;
}

.error_label {
    color: #F44336;
    display:block;
    font-size: 15px;
}

.formBlock {
    margin-bottom: 10px;
}

/*=============================
         REGISTER LOGIN
===============================*/

.register_page {
    min-height: 700px;
}

.register_container {
    border: 1px solid #ffb171;
    border-bottom: 4px solid #fdff9a;
    border-right: 4px solid #ffb171;
    left: 25%;
    top: 150px;
    margin: auto;
    margin-bottom: 40px;
    padding: 50px;
    min-height: 500px;
    min-width: 600px;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.register_wrapper {
    margin-right: 15px;
}

.register_inputs {
    margin-top: 20px;
}

.register_labels {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto'
}

.flex{
    display: flex;
}

.register_container .left {
    margin-right: 10px;
    flex:1;
}
.register_container .right {
    margin-left: 10px;
    flex:1;
}
